MONGO_URI=mongodb+srv://arun:arun@cluster0.bhexd4v.mongodb.net/proshop?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=abc123
PAYPAL_CLIENT_ID=AdepH77KNcHBNiMcaaYFq4mlbTFCibujluK4tU5cnmf8EHRgmzFoOuv5Ey8UrMb74wQ18fwxp1KtGEdk